/* From Atom One's theme */

// Colors
@background-active: #282c34;
@background-inactive: #21252b;

@border-active: #528bff;
@border-inactive: #181a1f;

@text-active: #d7dae0;
@text-inactive: #6b717d;

@cursor-active: #fafafa;
@cursor-inactive: @cursor-active;

// Border sizes
@active-border-size: 2px;
@inactive-border-size: 1px;
@bottom-border-size: 1px;

// Font sizes
@title-size: 11px;

// Dimensions
@content-padding: 5px;
@tab-height: 32px;
@tab-width: 200px;