@import "./themes/default";

html, body {
	height: 100%;
	width: 100%;
	margin: 0;
}
.tabs {
	height: @tab-height;
	width: 100%;
	background-color: @background-inactive;
	border-bottom: 1px solid @border-inactive;
}
.content {
	height: calc(100% - @tab-height);
	width: 100%;
	background-color: @background-active;
	padding-top: 10px;
}
.tab {
	height: 100%;
	width: @tab-width;
	margin-right: -5px;
	
	display: inline-flex;
	justify-content: center;
	align-items: center;
	border-left: 1px solid @border-inactive;	
	
	font-size: @title-size;
	color: @text-inactive;
	
	background-color: @background-inactive;
		
	&.active {
		color: @text-active;
		background-color: @background-active;
		border-left: 2px solid @border-active;
		border-bottom: 1px solid rgba(0, 0, 0, 0);
	}
	&:last-of-type {
		border-right: 1px solid @border-inactive;
	}
}
// Temporary
#terminal-container {
	border: 1px solid white;
}

/* From xterm.js demo */
body {
	font-family: helvetica, sans-serif, arial;
	font-size: 1em;
	color: #111;
}
h1 {
	text-align: center;
}
#terminal-container {
	width: 960px;
	height: 600px;
	margin: 0 auto;
	padding: 2px;
}
#terminal-container .terminal {
	background-color: #111;
	color: #fafafa;
	padding: 2px;
}
#terminal-container .terminal .terminal-cursor {
	background-color: #fafafa;
}
#terminal-container.blur .terminal .terminal-cursor {
	background-color: rgba(0,0,0,0);
	border: 1px solid white;
}